<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.craftyourmod.mineclipse.ui.category"
            class="org.craftyourmod.mineclipse.ui.views.FileManagerView"
            icon="icons/file_manager.png"
            id="org.craftyourmod.mineclipse.ui.views.FileManagerView"
            name="MineClipse FileManager">
      </view>
      <category
            id="org.craftyourmod.mineclipse.ui.category"
            name="Minecraft Mod Developement">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.craftyourmod.mineclipse.ui.category1"
            name="Minecraft Mod Developement">
      </category>
      <wizard
            category="Minecraft Mod Developement"
            class="org.craftyourmod.mineclipse.ui.wizards.NewMinecraftProjectWorkbenchWizard"
            icon="icons/new_pj.gif"
            id="org.craftyourmod.mineclipse.ui.wizard2"
            name="New MineClipse Project"
            project="true">
      </wizard>
      <wizard
            category="Minecraft Mod Developement"
            class="org.craftyourmod.mineclipse.ui.wizards.OverwriteWizard"
            id="org.craftyourmod.mineclipse.ui.wizard1"
            name="Overwrite wizard"
            project="false">
      </wizard>
   </extension>
</plugin>
